# Server Environment Variables
PORT=4000
CLIENT_ORIGIN=http://localhost:5173,http://127.0.0.1:5173
NODE_ENV=development
MONGODB_URI=mongodb+srv://<db_username>:<db_password>@cluster0.9idjg.mongodb.net/viewCount?retryWrites=true&w=majority
MONGODB_DB_NAME=viewCount
ANALYTICS_COLLECTION_NAME=fadedGame
